:root {
  --page-background: #253a5e;
  --game-background: #d7b594;
  --game-border: #a53030;
  --text: #10141f;
  --shadow: #151d2820;

  --board-background: #CBA681;
  --board-border: #B98653;

  --main-swamp: #a8ca58;
  --border-swamp: #25562e;
  
  --main-mountain: #a8b5b2;
  --border-mountain: #394a50;

  --main-desert: #de9e41;
  --border-desert: #be772b;

  --main-forest: #c09473;
  --border-forest: #7a4841;

  --h1-size: 32px;
  --border-width: 6px;
  --border-width-large: 12px;


}

html {
  display: flex;
  justify-content: center;
  font-family: Monospace, "sans-serif";
  font-size: 16px;
  color: var(--text);
  background: var(--page-background);
}

body {
  box-sizing: border-box;
  padding: 1rem; 
  max-width: 600px;
  min-width: 450px;
  min-height: 100vh;
  background: var(--game-background);
  border: solid var(--border-width) var(--game-border);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px var(--shadow);
}

h1 {
  font-size: var(--h1-size);
}
h1, h2 {
  margin: 0.5rem;
  text-align: center;
}

#habitats {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#habitats a {
  box-sizing: border-box;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: var(--text);
  border-style: solid;
  border-width: var(--border-width);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px var(--shadow);
}

a:hover, button:hover {
  color: var(--text);
  filter: brightness(0.85);
}

a:active, button:active {
  color: var(--text);
  transform: scale(0.95);
}

hr {
  margin: 1rem 0;
  border-style: solid;
  border-width: var(--border-width)/2;
  box-shadow: 0px 0px 10px 5px var(--shadow);
}

table {
  width: 100%;
}

td {
  padding-right: 0.5rem;
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.game {
  padding: 0 0 1rem 0;
}

.swamp {
  background: var(--main-swamp);
  border-color: var(--border-swamp);
}

.mountain {
  background: var(--main-mountain);
  border-color: var(--border-mountain);
}

.desert {
  background: var(--main-desert);
  border-color: var(--border-desert);
}

.forest {
  background: var(--main-forest);
  border-color: var(--border-forest);
}

.section {
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  background: var(--board-background);
  border: 2px solid var(--board-border);
  border-radius: 10px;
}

.sub-text {
  margin: 0;
  font-size: 12px;
}

.bold-center {
  font-weight: bold;
  text-align: center;
}

.section h2, h3 {
  margin: 0;
}

.margin-top {
  margin-top: 1rem;
}


.no-margin-bottom {
  margin-bottom: 0;
}

.sub-heading {
  margin: 0.5rem 0;
  font-weight: bold;
}

.container-horizontal-center {
  display: flex;
  justify-content: center;
}

.inc-dec {
  font-size: 18px;
  font-weight: bold;
  min-width: 26px;
  min-height: 26px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

.button {
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: var(--text);
  border-style: solid;
  border-width: var(--border-width);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px var(--shadow);
  padding: 0.5rem 1.5rem;
}



#habitat-title {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
  padding: 1rem;
  border-bottom-style: solid;
  border-bottom-width: var(--border-width);
  box-shadow: 0px 0px 10px 5px var(--shadow);
}
#habitat-title h1 {
  margin: 0;
}
#habitat-title p {
  margin-bottom: 0;
  text-align: center;
}
#habitat-title span {
  text-align: center;
}

#worker-visual-display {
  margin: 0;
  font-size: 22px;
  min-height: 34px;
  text-align: center;
}

#evaluate-year {
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  font-size: 18px;
  
  border-style: solid;
  border-width: var(--border-width);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px var(--shadow);
}

#end-basic-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#end-basic-info ul {
  display: inline-block; 
  margin-bottom: 1rem;
}

#end-status {
  margin: 1rem 2rem;
  padding: 1rem 4rem;
  border-bottom-style: dotted;
  border-bottom-width: var(--border-width-large);
  box-shadow: 0px 0px 10px 5px var(--shadow);
  border-radius: 45%
}

#end-condition {
  margin: 2rem 1rem 2rem 1rem;
  text-align: center;
  font-weight: bold;
}

