:root {
  --page-background: #253a5e;
  --game-background: #d7b594;
  --game-border: #a53030;
  --text: #10141f;
  --shadow: #151d2820;

  --main-swamp: #a8ca58;
  --border-swamp: #25562e;
  
  --main-mountain: #a8b5b2;
  --border-mountain: #394a50;

  --main-desert: #de9e41;
  --border-desert: #be772b;

  --main-forest: #c09473;
  --border-forest: #7a4841;

}

html {
  display: flex;
  justify-content: center;
  font-family: Monospace, "sans-serif";
  font-size: 16px;
  color: var(--text);
  background: var(--page-background);
}

body {
  box-sizing: border-box;
  padding: 1rem;
  max-width: 600px;
  min-width: 400px;
  min-height: 100vh;
  background: var(--game-background);
  border: solid 5px var(--game-border);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px var(--shadow);
}

h1, h2 {
  text-align: center;
}

#habitats {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#habitats a {
  box-sizing: border-box;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: var(--text);
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px var(--shadow);
}

a:hover {
  color: var(--text);
  filter: brightness(0.85);
}

a:active {
  color: var(--text);
  transform: scale(0.95);
}

.swamp {
  background: var(--main-swamp);
  border-color: var(--border-swamp);
}

.mountain {
  background: var(--main-mountain);
  border-color: var(--border-mountain);
}

.desert {
  background: var(--main-desert);
  border-color: var(--border-desert);
}

.forest {
  background: var(--main-forest);
  border-color: var(--border-forest);
}

#game {
  padding: 0;
}

#habitat-title {
  margin: 0;
  padding: 0 1rem;
  line-height: 5rem;
}
